<a href="https://colab.research.google.com/github/pietrolima01/TCCTerrorismo/blob/main/Previs%C3%A3o_de_Ataques_m%C3%BAltiplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Algoritmo de Classificação Machine Learning 

# Neste Script irei desenvolver um algoritmo de classificação para identificar quais as características que influenciam na ocorrência de outros ataques terroristas 

# A base que utilizarei a seguir são apenas de ataques que ocorreram no Iraque de 2000 a 2017

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
uri = '/content/baseTerrorismoMl.csv'
dados = pd.read_csv(uri)
dados.head()

   Estendido  multiple  ...      Descrição do crime  Nome do país
0          0         0  ...  Lack of Intentionality          Iraq
1          0         0  ...  Lack of Intentionality          Iraq
2          0         0  ...  Lack of Intentionality          Iraq
3          0         0  ...  Lack of Intentionality          Iraq
4          0         0  ...  Lack of Intentionality          Iraq

[5 rows x 12 columns]

In [ ]:
# criando dummies

dumAlvo = pd.get_dummies(dados['Descrição do Tipo do Alvo'])
dumArma = pd.get_dummies(dados['Descrição da arma'])
dumAtaque = pd.get_dummies(dados['Descrição do Ataque'])


dumAlvo.head()

   Airports & Aircraft  Business  ...  Utilities  Violent Political Party
0                    0         0  ...          0                        0
1                    0         0  ...          0                        0
2                    0         0  ...          0                        0
3                    0         0  ...          0                        0
4                    0         0  ...          0                        0

[5 rows x 10 columns]

In [ ]:
dumArma.head()

   Chemical  Explosives  Firearms  Incendiary  Melee
0         0           1         0           0      0
1         0           1         0           0      0
2         0           1         0           0      0
3         0           1         0           0      0
4         0           1         0           0      0

In [ ]:
dumAtaque.head()

   Armed Assault  Assassination  ...  Hijacking  Hostage Taking (Kidnapping)
0              0              0  ...          0                            0
1              0              0  ...          0                            0
2              0              0  ...          0                            0
3              0              0  ...          0                            0
4              0              0  ...          0                            0

[5 rows x 6 columns]

In [ ]:
dados01 = pd.concat([dados,dumAlvo,dumArma,dumAtaque],axis=1) # dentro do colchete vc passa uma lista dos datasets, o axis é se vc quer juntar as tabelas na horizontal (1) ou na vertical (0)
dados01.head()

   Estendido  multiple  ...  Hijacking  Hostage Taking (Kidnapping)
0          0         0  ...          0                            0
1          0         0  ...          0                            0
2          0         0  ...          0                            0
3          0         0  ...          0                            0
4          0         0  ...          0                            0

[5 rows x 33 columns]

In [ ]:
# Selecionando as colunas que eu quero trabalhar
x = dados01 [["Ataque suicida?","Ataque a Propriedade", "Houve refém?","Airports & Aircraft","Business","Food or Water Supply","Government (General)","Military","Police","Private Citizens & Property","Terrorists/Non-State Militia","Utilities","Violent Political Party","Chemical","Explosives","Firearms","Incendiary","Melee","Assassination","Bombing/Explosion","Facility/Infrastructure Attack","Hijacking","Hostage Taking (Kidnapping)"]]
y = dados01 [["multiple"]]

In [ ]:
# Quando vamos treinar e testar o algoritmo, precisamos separar os dados de treino e de teste
# Primeiro vamos analisar a quantidade de dados
dados01.shape

(1887, 33)

In [ ]:
#Vamos separar 75% para treinar e o resto será para testar
treino_x = x[:1415]
treino_y = y[:1415]
#Agora vamos pegar o resto para teste
teste_x = x[1415:]
teste_y = y[1415:]

In [ ]:
# Primeiro vamos importar o módulo e depois treinar o nosso modelo
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

#Agora vamos definir o teste
previsoes = modelo.predict(teste_x)

#Agora vamos calcular a acuracidade
acuracia = accuracy_score(teste_y, previsoes) *100
print("A acurácia foi %.2f" % acuracia)

A acurácia foi 93.43

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Fim